body {
    background-color: #023047;
    text-align: center;
}
h1 {
    color: aqua;
    font-family: 'Russo One', sans-serif;
    padding-top: 20px; 
}
h3 {
    color: aqua;
    font-family: 'Kanit', sans-serif;
    padding-bottom: 40px;
}
.allPanelColors {
    display: inline-block;
    margin-right: 12px;
    margin-top: 12px;
    cursor:pointer;
}
#greenPanel {
    background-color: green;
    border-top-left-radius: 250px;
    width: 250px;
    height: 250px;
    transition: background-color 0.2s ease-in-out;
}
#redPanel {
    background-color: red;
    border-top-right-radius: 250px;
    width: 250px;
    height: 250px;
    transition: background-color 0.2s ease-in-out;
}
#bluePanel {
    background-color: blue;
    border-bottom-right-radius: 250px;
    width: 250px;
    height: 250px;
    transition: background-color 0.2s ease-in-out;
}
#yellowPanel {
    background-color: yellow;
    border-bottom-left-radius: 250px;
    width: 250px;
    height: 250px;
    transition: background-color 0.2s ease-in-out;
}
#allButtons{
    margin-top: 2%;
}
button{
    background-color: #051923;
    color: aqua;
    font-size: 18px;
    padding: 5px 40px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Russo One', sans-serif;
    margin-right: 5px;
} 
#playButton{
    color: aqua;
    font-size: 24px;
    background-color: #051923;
    width:190px;
    height:190px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 49.20%; left: 49.75%;
    }
@media (max-width: 600px) {
    .allPanelColors {
        margin-right: 6px;
        margin-top: 6px;
        width: 150px;
        height: 150px;
    }
    #playButton {
        width: 120px;
        height: 120px;
        font-size: 18px;
    }
}
#greenPanel.active {
    background-color: rgb(3, 205, 0);
    box-decoration-break: clone;-webkit-box-decoration-break: clone;box-shadow: 0px 0px 20px 8px green;
}
#bluePanel.active {
    background-color: rgb(60, 89, 252);
    box-decoration-break: clone;-webkit-box-decoration-break: clone;box-shadow: 0px 0px 20px 8px blue;
}
#redPanel.active {
    background-color: rgb(255, 44, 44);
    box-decoration-break: clone;-webkit-box-decoration-break: clone;box-shadow: 0px 0px 20px 8px red;
}
#yellowPanel.active {
    background-color: rgb(255, 255, 77);
    box-decoration-break: clone;-webkit-box-decoration-break: clone;box-shadow: 0px 0px 20px 8px yellow;
}
button.active{
    font-size: 18.5px;
}
#highestScore {
    font-size: 20px;
    padding-top: 0.5%;
    font-family: 'Russo One', sans-serif;
    color: aqua;
}
#score {
    font-size: 20px;
    padding-top: 3%;
    font-family: 'Russo One', sans-serif;
    color: aqua;
}
#gameOver {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 200px;
    height: 200px;
    border-radius: 20%;
    background-color: #023047;
    padding: 20px;
    box-sizing: border-box;
}

#endGameMessage {
    color: aqua;
    font-size: 24px;
    margin-top: -10px;
}
#replayButton, #quitButton {
    background-color: black;
    color: aqua;
    padding: 10px 20px;
    margin-top: 5px;
    width: 120px;
}
p {
    color: aqua;
    font-size: 12px;
}
#instructionPopup {
    background-color: white;
    padding: 20px;
    border-radius: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 500px;
    max-width: 90%;
    height: auto;
    max-height: 90%;
    overflow-y: auto;
    display: none;
}
#instructionTitle {
    color: rgb(33, 33, 33);
    font-size: 24px;
    margin-top: 0;
}
#instructionMessage {
    color: rgb(33, 33, 33);
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Kanit', sans-serif;
    text-align: left;
}
#closeInstructionButton {
    background-color: black;
    color: aqua;
    padding: 10px 20px;
}

