body {
    background-color: #023047;
    text-align: center;
}

h1 {
    color: aqua;
    font-family: 'Russo One', sans-serif;
    padding-top: 20px;
}

h3 {
    color: aqua;
    font-family: 'Kanit', sans-serif;
    padding-bottom: 40px;
}

.allPanelColors {
    display: inline-block;
    margin-right: 12px;
    margin-top: 12px;
    cursor:pointer;
}
#greenPanel {
    background-color: green;
    border-top-left-radius: 250px;
    width: 250px;
    height: 250px;
    transition: background-color 0.2s ease-in-out;

}
#redPanel {
    background-color: red;
    border-top-right-radius: 250px;
    width: 250px;
    height: 250px;
    transition: background-color 0.2s ease-in-out;
}
#bluePanel {
    background-color: blue;
    border-bottom-right-radius: 250px;
    width: 250px;
    height: 250px;
    transition: background-color 0.2s ease-in-out;
}
#yellowPanel {
    background-color: yellow;
    border-bottom-left-radius: 250px;
    width: 250px;
    height: 250px;
    transition: background-color 0.2s ease-in-out;
}
#centerCircle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: black;
    position: absolute;
    top: 39%;
    left: 44.5%;
}
#simonBaseBg {
    width: 555px;
    height: 555px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 20.85%;
    left: 35.25%;
    z-index: -1;
}

#allButtons{
    margin-top: 2%;
}

button{
    background-color: #051923;
    color: aqua;
    font-size: 18px;
    padding: 5px 40px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Russo One', sans-serif;
    
} 

#playButton{
    color: aqua;
    font-size: x-large;
    background-color: #051923;
    width:180px;
    height:180px;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 49%; left: 49.70%;
    margin-top: 0%;
    }

#greenPanel.active {
    background-color: rgb(3, 205, 0);
    box-decoration-break: clone;-webkit-box-decoration-break: clone;box-shadow: 0px 0px 20px 8px green;
}
#bluePanel.active {
    background-color: rgb(60, 89, 252);
    box-decoration-break: clone;-webkit-box-decoration-break: clone;box-shadow: 0px 0px 20px 8px blue;
}
#redPanel.active {
    background-color: rgb(255, 44, 44);
    box-decoration-break: clone;-webkit-box-decoration-break: clone;box-shadow: 0px 0px 20px 8px red;
}
#yellowPanel.active {
    background-color: rgb(255, 255, 77);
    box-decoration-break: clone;-webkit-box-decoration-break: clone;box-shadow: 0px 0px 20px 8px yellow;
}
button.active{
    font-size: 18.5px;
}

#highestScore {
    font-size: 20px;
    padding-top: 0.5%;
    font-family: 'Russo One', sans-serif;
    color: aqua;
}
#score {
    font-size: 20px;
    padding-top: 3%;
    font-family: 'Russo One', sans-serif;
    color: aqua;
}